#things that need to be implemented
a * / a = 1
-a * -b = a * b
-a * / -b = a * / b
a * / b * / ( c * / d ) = a * / b * d * / c

#things that need to be decided by user
	#Distrubute
		a * - b = - a * b = - ( a * b )
		a * / -b = -a * / b = - ( a * / b )
		m * ( a + b ) = m * a + m * b
		a * / b * c * / d = ( a * c ) * / ( b * d )
	#Condense_Fractions
		a * / c + (-?) b * / c = ( a + (-?) b ) * / c
		a * / c + (-?) b * / d = ( a * d + (-?) b * c ) * / ( c * d )
	#Prefer_Exp_To_Mult
		exp( ln( a ) * n ) = a * a * a ... n times
	#Distribute_Exponents
		exp( a * m ) * exp( a * n ) = exp( a * ( m + n ) )
	#Expand_Ln
		ln( a * b ) = ln( a ) + ln( b )
		ln( / x ) = - ln( x )
	#Expand_Exp
		exp( a + b ) = exp( a ) * exp( b )
		exp( -a ) = / exp( a )

#things i'm deciding on
