#things that need to be implemented
a * / a = 1
-a * -b = a * b
-a * / -b = a * / b
a * / b * / ( c * / d ) = a * / b * d * / c

#things that need to be decided by user
	#DistrubuteNegative
		a * - b = - a * b = - ( a * b )
	#DistributeDivision
		a * / - b = a * - / b
	#DistributeAddition
		m * ( a + b ) = m * a + m * b
	#PreferAddition
		a * / c + b * / c = ( a + b ) * / c
		a * / c + b * / d = ( a * d + b * c ) * / ( c * d )
	#PreferMultiplication
		a * / c + b * / c = ( a + b ) * / c
		a * / c + b * / d = ( a * d + b * c ) * / ( c * d )
	#PreferRepeatMult
		exp( a * n ) = exp( a ) * exp( a ) * ... n times
	#ExpandLnMultToAdd / CondenseLnAddToMult
		ln( a * b ) = ln( a ) + ln( b )
	#ExpandLnDivToNeg / CondenseLnNegToDiv
		ln( / x ) = - ln( x )
	#ExpandExpAddToMult / CondenseExpMultToAdd
		exp( a + b ) = exp( a ) * exp( b )
	#ExpandExpNegToDiv / CondenseExpDivToNeg
		exp( -a ) = / exp( a )

#things i'm deciding on
